.hero img {
    width:100%;
}

.hero{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    width:100%;
    max-height: 50%;
}

.hero .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
}

h1 {
    color:white;
}